@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body {
    background-color: #d3d3d3;
}

header {
    background-color: #ba1aee;
}

main {
    background-color: blue;
    color: #FFFFFF;
}

footer {
    background-color: #eaee1a;
}

h1 {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}